<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Job Detail</title>

    <!-- my (one free) fontawesome kit link -->
    <script src="https://kit.fontawesome.com/652790bb8a.js" crossorigin="anonymous"></script>

    <!-- link to bootstrap cdn 11.21.19 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- personal style sheet link -->
    <link rel="stylesheet" th:href="@{/styles.css}">

    <!-- favicon link -->
    <link rel="icon" type="image/png" href="/img/peace-solid.png">

</head>

<body>

<header>
    <div th:replace="base::navbar"></div>
</header>

<main role="main" class="container">


    <!-- display ONE JOB DETAIL :: with Description -->
    <div class="card text-white bg-dark mb-3 mx-auto" style="max-width: 30rem;">

        <!-- if an IMAGE EXISTS -->
        <div th:if="${job.image!=''}">
            <img class="card-img mx-auto" th:src="${job.image}" alt="job image" style="max-height: 24rem" />
            <div class="card-img-overlay mx-auto">
                <h5 class="text-center text-white">
                    <span th:text="${job.title}"></span> @ <span th:text="${job.company}"></span>
                </h5>
            </div>
        </div>
        <!-- show the date posted just under the image -->
        <div th:if="${job.image!=''}" class="card-body">
            <p class="card-subtitle text-muted">Posted <span th:text="${job.postedDate}"></span></p>
        </div>
        <!-- if an image DOES NOT EXIST -->
        <div th:unless="${job.image!=''}">
            <div class="card-body">
                <h5 class="card-title">
                    <span th:text="${job.title}"></span> @ <span th:text="${job.company}"></span>
                </h5>
                <p class="card-subtitle text-muted mb-2">
                    Posted <span th:text="${job.postedDate}"></span>
                </p>
            </div>
        </div>
        <!-- show this stuff EVERY TIME-->
        <div class="card-body">
            <p class="card-text" th:text="${job.description}"></p>
        </div>
        <div class="card-body">
            <p class="card-text d-flex mb-0">
                <span class="col-3 p-0">Contact:</span>
                <span class="col-9 p-0" th:text="${job.contactName}"></span>
            </p>
            <p class="card-text d-flex mb-0">
                <span class="col-3 p-0"></span>
                <span class="col-9 p-0" th:text="${job.contactPhone}"></span>
            </p>
            <p class="card-text d-flex">
                <span class="col-3 p-0"></span>
                <span class="col-9 p-0" th:text="${job.contactEmail}"></span>
            </p>
        </div>

        <div class="card-footer d-flex mx-auto">
            <div class="btn-group d-flex" role="group" aria-label="Edit Delete or View All button group">
                <a th:href="@{/delete/{id}(id=${job.id})}" class="btn btn-secondary">
                    <i class="far fa-trash-alt mx-2"></i>Delete</a>
                <a th:href="@{/edit/{id}(id=${job.id})}" class="btn btn-secondary ">
                    <i class="far fa-edit mx-2"></i>Edit</a>
                <a th:href="@{/}" class="btn btn-secondary">
                    <i class="far fa-list-alt mx-2"></i>View All</a>
            </div>
        </div>

    </div>


</main>


<div th:replace="base::footer"></div>
<div th:replace="base::javascript-links"></div>

</body>
</html>
