<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Job Form</title>

    <!-- my (one free) fontawesome kit link -->
    <script src="https://kit.fontawesome.com/652790bb8a.js" crossorigin="anonymous"></script>

    <!-- link to bootstrap cdn 11.21.19 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- personal style sheet link -->
    <link rel="stylesheet" th:href="@{/styles.css}">

    <!-- favicon link -->
    <link rel="icon" type="image/png" href="">

</head>

<body>

<header>
    <div th:replace="base::navbar"></div>
</header>

<main role="main" class="container">
</main>

<div th:replace="base::footer"></div>
<div th:replace="base::javascript-links"></div>

</body>
</html>
