<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>All Jobs</title>

    <!-- my (one free) fontawesome kit link -->
    <script src="https://kit.fontawesome.com/652790bb8a.js" crossorigin="anonymous"></script>

    <!-- link to bootstrap cdn 11.21.19 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- personal style sheet link -->
    <link rel="stylesheet" th:href="@{/styles.css}">

    <!-- favicon link -->
    <link rel="icon" type="image/png" href="/img/peace-solid.png">

</head>

<body>

<header>
    <div th:replace="base::navbar"></div>
</header>

<main role="main" class="container">

    <div th:each="job : ${jobs}">



        <!-- display ONE JOB SUMMARY :: no Description -->
        <div th:fragment="one-job-summary" class="card text-white bg-dark mb-3 mx-auto" style="max-width: 30rem;">

            <!-- optional IMAGE section -->
            <img th:if="${job.image!=''}" class="card-img mx-auto" th:src="${job.image}" alt="job image" style="max-height: 24rem" />

            <!-- show this stuff every time -->
            <div class="card-body mx-auto">
                <h5 class="card-title">
                    <span th:text="${job.title}"></span> @ <span th:text="${job.company}"></span>
                </h5>
                <p class="card-text text-muted mb-2">
                    Posted on <span th:text="${job.postedDate}"></span>
                </p>
                <p class="card-text mb-2">
                    Contact:<br>
                    <span th:text="${job.contactName}"></span><br>
                    <span th:text="${job.contactPhone}"></span><br>
                    <span th:text="${job.contactEmail}"></span></p>
            </div>
            <div class="card-footer mx-auto">
                <div class="btn-group" role="group" aria-label="Edit Delete or View Details button group">
                    <a th:href="@{/delete/{id}(id=${job.id})}" class="btn btn-secondary">
                        <i class="far fa-trash-alt mx-2"></i>Delete</a>
                    <a th:href="@{/edit/{id}(id=${job.id})}" class="btn btn-secondary ">
                        <i class="far fa-edit mx-2"></i>Edit</a>
                    <a th:href="@{/view/{id}(id=${job.id})}" class="btn btn-secondary">
                        <i class="fas fa-bars mx-2"></i>Details</a>
                </div>
            </div>

        </div>



    </div>




</main>


<div th:replace="base::footer"></div>
<div th:replace="base::javascript-links"></div>

</body>
</html>
